<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div
                class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
            </div>

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Proyecta tu vida de manera óptima</h3>
                <p>Si estás a cargo de un próximo gran proyecto o buscas digitalizar la gestión de tareas en el
                    día a día de su equipo, la App te ayuda a verificar la productividad de cada miembro del
                    equipo y gestionar tareas</p>

                <div class="icon-box">
                    <div class="icon"><i class="bi bi-calendar-check"></i></div>
                    <h4 class="title"><a href="">Maneja tareas</a></h4>
                    <p class="description">Productivo. Eficiente. A tiempo. Esta App te ayuda a guiar las tareas
                        sin esfuerzo, desde el por hacer, al hacer, hasta completado. Trae orden a tus tareas
                        diarias y las de tu equipo de trabajo y crea flujos de trabajo.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bi bi-gear"></i></div>
                    <h4 class="title"><a href="">Trabajos en equipo</a></h4>
                    <p class="description">La colaboración ineficiente del equipo y la sobrecarga de correo
                        electrónico pueden destruir la productividad de tu equipo y costarte dinero... pero no
                        tiene por qué ser así. El software de gestión de tareas digital ayuda a alinear a su
                        equipo y aumentar la transparencia. ¡Haga más con Procrastination Nightmare!</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bi bi-list-task"></i></div>
                    <h4 class="title"><a href="">Mejora tu productividad</a></h4>
                    <p class="description">Esta aplicación te permite crear planes de acción y establecer metas
                        a corto y largo plazo para que puedas mantener el enfoque en lo que realmente importa.
                        Podrás hacer un seguimiento de tu progreso y recibir informes detallados sobre tus
                        hábitos y actividades diarias. Con Procrastination Nightmare, podrás mejorar tu gestión
                        del tiempo y alcanzar tus objetivos de manera más efectiva. ¡Únete hoy y toma el control
                        de tu vida!</p>
                </div>

            </div>
        </div>

    </div>
</section>