<body>

    <!-- empieza header -->
    <app-navbar></app-navbar>
    <!-- fin header -->

    <!--Empieza Section -->
    <app-hero></app-hero>
    <!--finaliza section -->

    <main id="main">

        <!-- section acerca de -->
        <app-about></app-about>
        <!-- fin acerca de Section -->


        <!-- Features -->
        <app-services></app-services>
        <!-- fin features  -->

        <!--  mision -->
        <app-portfolio></app-portfolio> <!--fin mision Section -->

        <!-- ======= Testimonials Section ======= -->
        <app-testimonials></app-testimonials><!-- End Testimonials Section -->

        <!-- Vision -->
        <app-team></app-team><!-- End vison Section -->



    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <app-footer></app-footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>