<!--

⎝𒆜⪼༒ CALENDARIO ༒⪻𒆜⎠
-->

<section>
  <div class="container-fluid k-container-calendar">
    <div class="row ps-3">
      <div class="col-lg-3 pt-3 ps-3">
        <div class="row d-flex flex-xl-column gap-3">
          <div class="col-md bg-card rounded-3 p-3">
            <button
              class="btn btn-lg font-16 btn-primary w-100"
              id="btn-new-event"
              (click)="createNewEvent()"
            >
              <i class="mdi mdi-plus-circle-outline"></i> Crear nuevo evento
            </button>
            <div
              class="d-flex align-items-center justify-content-between text-white pb-4 pt-2"
            >
              <h3>Lista de eventos</h3>
              <!--
╭
╰┈➤Boton del modal para accionar
-->
            </div>

            <div class="k-event-list d-flex gap-2 flex-column" id="external-events">
              <div
                *ngFor="let event of calendarEventsData"
                class="external-event k-event d-flex gap-3 p-3 rounded-3 glow {{
                  event.classNames
                }}"
                [attr.data-type]="event.classNames"
              >
                <i
                  class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"
                ></i
                >{{ event.title }}
              </div>
            </div>

            <!-- <div class="k-event-list d-flex gap-2 flex-column">
              <div class="k-event bg-senary d-flex gap-3 p-3 rounded-3 glow">
                <span class="k-event-time fw-bold">29 Mar - 02 : 00 PM</span>
                <span class="k-event-text">Nuevo excel</span>
              </div>
              <div class="k-event bg-septenary d-flex gap-3 p-3 rounded-3 glow">
                <span class="k-event-time fw-bold">07 Mar - 09 : 00 AM</span>
                <span class="k-event-text">Reunion</span>
              </div>
              <div class="k-event bg-quinary d-flex gap-3 p-3 rounded-3 glow">
                <span class="k-event-time fw-bold">17 Mar - 05 : 30 PM</span>
                <span class="k-event-text">Crear figma</span>
              </div>
              <div
                class="k-event bg-quaternary d-flex gap-3 p-3 rounded-3 glow"
              >
                <span class="k-event-time fw-bold">22 Mar - 02 : 30 PM</span>
                <span class="k-event-text">Crear registro</span>
              </div>
              <div class="k-event bg-primary d-flex gap-3 p-3 rounded-3 glow">
                <span class="k-event-time fw-bold">27 Mar - 09 : 30 AM</span>
                <span class="k-event-text">Presentacion</span>
              </div>
            </div> -->
          </div>

          <!-- ╭
╰┈➤Tarjeta filtros y subtareas -->

          <div class="col bg-card rounded-3 p-3">
            <div class="row d-flex align-items-center">
              <div class="col text-white"><h3>Subtareas</h3></div>
            </div>
            <div
              class="d-flex align-items-center flex-xl-row flex-lg-column justify-content-between text-white pb-2"
            >
              <h5>Filtrar por color</h5>
              <div class="col">
                <ul class="d-flex gap-3 justify-content-end">
                  <div class="form-check">
                    <input
                      class="form-check-input fs-2 bg-primary"
                      type="radio"
                      name="k-event-color"
                      value="option2"
                    />
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input fs-2 bg-septenary"
                      type="radio"
                      name="k-event-color"
                      value="option2"
                    />
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input fs-2 bg-quaternary"
                      type="radio"
                      name="k-event-color"
                      value="option3"
                    />
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input fs-2 bg-quinary"
                      type="radio"
                      name="k-event-color"
                      value="option4"
                    />
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input fs-2 bg-senary"
                      type="radio"
                      name="k-event-color"
                      value="option5"
                    />
                  </div>
                </ul>
              </div>
            </div>

            <div
              class="d-flex align-items-center justify-content-between text-white pb-2 me-3"
            >
              <h5>Selecionar evento</h5>
              <div>
                <select class="form-select bg-body text-white">
                  <option selected>Nuevo excel</option>
                  <option value="1">Reunion</option>
                  <option value="2">Crear figma</option>
                  <option value="3">Crear registro</option>
                  <option value="4">Presentacion</option>
                </select>
              </div>
            </div>

            <div class="text-white d-flex gap-3 pb-3 pt-3">
              <input
                type="checkbox"
                class="form-check-input k-checkbox"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Abrir el archivo de Excel con los datos de ventas</label
              >
            </div>
            <div class="text-white d-flex gap-3 pb-3 pt-3">
              <input
                type="checkbox"
                class="form-check-input k-checkbox"
                id="exampleCheck2"
              />
              <label class="form-check-label" for="exampleCheck2"
                >Seleccionar los datos que se desean mostrar en la
                gráfica.</label
              >
            </div>
            <div class="text-white d-flex gap-3 pb-3 pt-3">
              <input
                type="checkbox"
                class="form-check-input k-checkbox"
                id="exampleCheck3"
              />
              <label class="form-check-label" for="exampleCheck3"
                >hacer click en la pestaña insertar</label
              >
            </div>
            <div class="text-white d-flex gap-3 pb-3 pt-3">
              <input
                type="checkbox"
                class="form-check-input k-checkbox"
                id="exampleCheck4"
              />
              <label class="form-check-label" for="exampleCheck4"
                >Asegurarse de que la gráfica esté clara y fácil de
                entender</label
              >
            </div>
            <div class="text-white d-flex gap-3 pb-3 pt-3">
              <input
                type="checkbox"
                class="form-check-input k-checkbox"
                id="exampleCheck5"
              />
              <label class="form-check-label" for="exampleCheck5"
                >Guardar y compartir la gráfica con el equipo</label
              >
            </div>
          </div>
        </div>
      </div>
      <!--
╭
╰┈➤ Vista del Calendario
-->
      <div class="col-lg-9 p-3">
        <div id="calendar" class="bg-card rounded-3 text-white p-3">
          <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>

      <app-event
        #eventModal
        (eventSaved)="handleEventSave($event)"
        (eventDeleted)="handleEventDelete($event)"
      >
      </app-event>

    </div>
  </div>
</section>
