<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-around">

        <div class="d-flex flex-row gap-2 align-items-center">
            <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid">
                <h1 class="logo">Procrastination Nightmare</h1>
            </a>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">Acerca de</a></li>
                <li><a class="nav-link scrollto" href="#services">Features</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Misión</a></li>
                <li><a class="nav-link scrollto" href="#team">Visión</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- fin navbar -->

    </div>
</header>