<div class="container d-flex flex-column dg-card-color rounded">
    <!-- Nombre de la función -->
    <div>
        <h1 class="text-light">Tabla sencilla de control de billeteras</h1>
    </div>
    <!-- Tabla de Vista, filter, sort, search -->
    <button class="btn btn-sucess text-light" (click)="createShowFunction()">Crear una nueva billetera</button>
    <app-create-component *ngIf="createShow" [createShow]="createShow"></app-create-component>
    <app-transaction *ngIf="transactionShow" [type]="type"></app-transaction>
    <app-history *ngIf="historyShow"></app-history>
    <div class="card" style="width: 20rem;">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h2 class="" style="font-size: 1.5rem;">Nombre billetera</h2>
            <p class="card-text">Descripcion de la billetera</p>
            <p class="card-text" style="font-size: 1.15rem;">Saldo :<span style="font-size: 1.25rem;">$20000</span></p>
            <div>
                <p class="btn btn-success p-2 m-1" (click)="typeIncomeFunction()">Agregar Ingreso</p>
                <p class="btn btn-danger p-2 m-1 " (click)="typeExpenseFunction()">Agregar Egreso</p>
            </div>
            <p href="#" class="btn btn-info p-2 m-1 text-white" (click)="historyShowFunction()">Historial de dinero</p>
        </div>
    </div>

</div>