<div class="modal fade" data-bs-theme="dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Seleccione un estado:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-wrap dg-flex-wrap-personalized gap-2">
          <button id="opt1" class="btn btn-success" data-bs-dismiss="modal">Completado</button>
          <button id="opt2" class="btn btn-primary" data-bs-dismiss="modal">En Progreso</button>
          <button id="opt3" class="btn btn-warning" data-bs-dismiss="modal">Con Demora</button>
          <button id="opt4" class="btn btn-light" data-bs-dismiss="modal">Aplazado</button>
          <button id="opt5" class="btn btn-danger" data-bs-dismiss="modal">Cancelado</button>
          <button id="opt6" class="btn btn-secondary" data-bs-dismiss="modal">No Iniciado</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
