<section id="testimonials" class="testimonials">
    <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            No puedo enfatizar lo suficiente la importancia de tener toda nuestra información en
                            un lugar central. Usamos Procrastination Nightmare para capturar todos nuestros
                            documentos, notas y próximos pasos para mantener la consistencia.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Esta aplicación ha cambiado mi vida en términos de organización y productividad.
                            Antes solía tener problemas para mantenerme al día con mis tareas diarias, pero con
                            esta app, puedo priorizar mis tareas, establecer plazos y hacer un seguimiento de mi
                            progreso con facilidad. Me encanta cómo puedo crear diferentes listas de tareas para
                            diferentes proyectos y sincronizar todo con mi calendario. Es la herramienta
                            perfecta para mantenerme enfocado y lograr mis objetivos. ¡Muy recomendada!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Estoy impresionada con esta aplicación. Me ha ayudado a simplificar mi día a día y a
                            mantenerme organizado. Me encanta cómo puedo crear recordatorios y establecer plazos
                            para cada tarea. También es genial que pueda compartir tareas con mi equipo y
                            mantenernos a todos en la misma página. La interfaz es fácil de usar y el diseño es
                            muy intuitivo. Definitivamente me ha ayudado a ser más productivo y a sentirme más
                            en control de mi trabajo.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            La aplicación ha sido una excelente herramienta para mantenerme organizado y
                            productivo. Me encanta su facilidad de uso y la posibilidad de establecer plazos y
                            recordatorios para cada tarea.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Ha sido una verdadera bendición. Me ha ayudado a mantenerme enfocado y productivo, y
                            a lograr mis objetivos de manera efectiva. Es fácil de usar y tiene una interfaz
                            atractiva. ¡Definitivamente la recomiendo!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>